body {
  font-family:'Helvetica', 'Arial', sans-serif;
  background-color:#eeeeee;
  margin:0;
  padding:0;
}

.header {
    background-color:#ffffff;
    top:0;
    left:0;
    width:100%;
}

.logo {
	padding:40px 0 0 40px;
}

.searchForm {
	width: 175px;
    padding: 20px;
    border: 2px solid gray;
    margin: 5px;
	float:left;
}

.result {
	background-color:#ffffff;
    top:0;
    left:0;
    width:100%;
	padding:40px;
}

.loginForm {
	width: 175px;
    padding: 25px;
    border: 2px solid gray;
    margin: 5px;
	float:left;
}


.loginReel {
	width: 400px;
    padding: 5px;
    margin: 0;
	float:left;
}

.pass {
	text-align: center;
	color: red;
	font-size:11px;
}

table#loginReel {
	width: 100%;
    border: 2px solid gray;
	text-align:center;
	border-collapse: collapse;
}

table#loginReel tr:nth-child(even) {
    background-color: #eee;
}
table#loginReel tr:nth-child(odd) {
   background-color:#fff;
}
table#loginReel th	{
    background-color: gray;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	transition: background-color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

li a.active {
    background-color: #808080;
    color: white;
}

li a:hover:not(.active) {
    background-color: white;
    color: black;
}
